<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup | Flymail</title>
  <link rel="stylesheet" href="./css/signup.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>
                    <class="highlight">&#9554;lymail</h1>
            </div>
            <nav>
                <ul>
                    <li class="current">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="signup.html">Signup</a>
                </li>
                <li>
                    <a href="login.html">login</a>
            </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="signup-form">
          <div class="text">
              <h1>Login Here</h1>
          </div>  
          <form id="login-form" class='signup-box'>
    
            <p id="alert"></p>
            <label for="email">Email</label>
            <input id="email" type="email" required autocomplete="off" placeholder="Email"/>
    
            <label for="password">Password</label>
            <input id="password" type="text" required autocomplete="off" placeholder="Password"/>
    
            <button id="login" class='signup-btn' type="submit"> LOGIN </button>
            <p> Don't have an account, register <a href="signup.html">here</a></p>
          </form>
    </div>
    <script src="js/userLogin.js"></script>
</body>
</html>