<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Flymail app is for learning and sending mails">
    <meta name="author" content="Kelechi, Joyce">
    <title> Flymail | Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1 class="highlight"> <a href="index.html">&#9554;lymail</a></h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li class="current">
                        <a href="parcel.html">Send Parcel</a>
                    </li>
                    <li>
                        <a href="admin.html">Admin</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

<div id="add-parcel-wrap">

    <div class="add-parcel-item">
        <form id="parcel-form">
            <legend>Add a Parcel</legend>
            <p id="alert"></p>
            <label for="receiver">Receiver Name</label>
            <input id="receiver" type="text" placeholder="Receiver name" required="">
            <label for="parcel-content">Content Description</label>
            <input id="parcel-content" type="text" placeholder="Describe content" required="">
            <div class="sub-input">
                <div class="weight">
                    <label for="weight">Weight</label>
                    <input id="weight" type="text" placeholder="weight" required="">
                </div>
                <div class="quantity">
                    <label for="metric">Metric</label>
                    <select>
                        <option id="kg" value="kg">Kg</option>
                    </select>
                </div>
            </div>
            <label for="pickup">Pickup</label>
            <input id="pickup" type="text" placeholder="12 Anazodo Str..." required="">
            <label for="destination">Destination Address: </label>
            <input type="text" class="address" id="destination" name="address" required="" placeholder="4 Jusada Rd...">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="email" required="">
            <label for="phone">Destination Phone: </label>
            <input id="phone" type="phone" name="phone" class="phone" id="phone" required="" placeholder="Phone (+234090.....)">         
            <button id="submit"  type="submit">Submit</button>
        

    </form>
</div>
</div>
<script src="js/postOrder.js"></script>
</body>

</html>